<section id="bg-inicio">
    <app-navbar></app-navbar>

    <div class="container">
        <span class="center text"><h1><b>Eres Mayor de edad?</b></h1></span>

        <div class="row">
            <div class="col-6 col-md-6 right"><button class="btn btn-outline-danger" (click)="goToSettings('mayor')">SI</button></div>
            <div class="col-6 col-md-6 left"><button class="btn  btn-outline-danger" (click)="goToSettings('menor')">NO</button></div>
        </div>

       <div class="btn-content">
            <!-- <button class="btn button-iniciar center" (click)="goLogin()"><img src="assets/btn.png" alt=""></button> -->
       </div>
    </div>
</section>