h3{
    color: #185A7D;
}
h2{
    color: #185A7D;
    font-family: 'Poppins';
    font-style: normal;
}
p{ color: #AAAAAA;}
/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    flex-wrap: wrap;
} */
.gold{
    width: 100% !important;
    height: 50% !important;
    border: none !important;
}
.card{
    background: #00693C;
    border-radius: 50px;
}
.card-title{
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-family: 'Poppins';
    padding-left: 30%;
    padding-top: 15%;
}
.card img{
    width: 100%;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
    background-position: center center;
    border: 10px solid white;
}
.card-body span{
    color: white;
    font-family: 'Poppins';
}
.base-image{
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-position: center center;
    margin-top: -50px;
}
.pad{padding: 2%;}
.btn-continue{
    background: #E6E6E6;
    color: #AAAAAA;
    width: 100%;
    max-width: 140px;
}
.card.poke{ background: #F2F2F2;}
.card .img-fluid{ border: none;}
.p-info{  font-family: 'Poppins';  text-align: center;}
.gris{ color: #AAAAAA;}
.stats{ display: flex;}
.stats span{
    width: 50%; color: black;
}
.box{
    height: 100%;
    max-height: 505px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pImage{
    padding: 0px 25px 10px 15px;
    margin-bottom: 5px;
}
.pImage:hover{
    background: #FFC600;
    cursor: pointer;
    border-radius: 20px;
}
.pImage img{
    width: 100%;
}
.pImage p{
    background: #01426A;
    color: white;
    text-align: center;
    border-radius: 25px;
    font-family: 'Poppins';
}
.btn-outline-primary{
    color: #01426A;
    border-color: #01426A;
    height: 30px;
    font-size: 10px;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #01426A;
    border-color: #01426A;
}


::ng-deep .mat-progress-bar .mat-progress-bar-element, .mat-progress-bar .mat-progress-bar-fill::after {
    height: 100%;
    position: absolute;
    width: 100%;
    box-shadow: inset -1px -1px 1px rgb(255 255 255 / 70%), inset 1px 1px 2px rgb(174 174 192 / 20%);
    border-radius: 12px;
    background: #EEEEEE;

}

::ng-deep .mat-progress-bar-fill::after {
    background-color: green;
    background: #7ED876;
    box-shadow: 0px 0px 2px rgba(114, 138, 183, 0.7);
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    height: 13px !important;

}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}